@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--bg-secondary);
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      to bottom,
      var(--color-primary-90),
      var(--color-primary-65)
    );
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      to top,
      var(--color-primary-75),
      var(--color-primary-50)
    );
  }
}
